body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0 8%;
  background-color: #fff;
}

header .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  position: relative;
}

header .wrap .login {
  position: absolute;
  top: 5px;
  right: -4%;
  z-index: 99;
}

.shopping_cart{
    color:rgb(105, 103, 103);
    font-size: 48px;
    position: fixed;
    right: 40px;
    bottom: 30vh;
}

.shopping_cart .qty{
    position: absolute;
    color: #000;
    width:35px;
    height: 35px;
    border: 2px solid rgb(105, 103, 103);
    border-radius: 50%;
    background: #FFF;
    font-size: 16px;
    top:0;
    right: 0;
    transform: translate(40%,-40%);
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 1100px) {
  header .wrap .login {
    top: 35px;
    right: 70px;
  }
}

header .wrap .login a {
  text-decoration: none;
}

header .wrap .login a span {
  color: black;
}

header .wrap .logo {
  width: 120px;
}

@media screen and (max-width: 1100px) {
  header .wrap .logo {
    width: 115px;
  }
}

@media screen and (max-width: 350px) {
  header .wrap .logo {
    margin-left: 0;
  }
}

header .wrap .logo img {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  header .wrap .d_none {
    display: none;
  }
}

header .wrap .nav_btns {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 30px;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    padding: 200px 0;
    margin-right: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  header .wrap .nav_btns {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .nav_btns_click {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

header .wrap .nav_btns .header_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    width: 100%;
  }
}

header .wrap .nav_btns .header_nav li {
  font-size: 20px;
  list-style: none;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li {
    margin: 30px;
  }
}

header .wrap .nav_btns .header_nav li:hover > a {
  background-color: #f0f0f0;
}

header .wrap .nav_btns .header_nav li:hover ul {
  display: block;
}

header .wrap .nav_btns .header_nav li a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  padding: 20px;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li a {
    padding: 12px;
  }
}

header .wrap .nav_btns .header_nav li a .fa-angle-down {
  display: none;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li a .fa-angle-down {
    display: unset;
  }
}

header .wrap .nav_btns .header_nav li ul {
  position: absolute;
  display: none;
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 0;
  text-align: center;
  width: 162px;
}

@media screen and (min-width: 1919px) {
  header .wrap .nav_btns .header_nav li ul {
    width: 161px;
  }
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li ul {
    width: 170px;
  }
}

header .wrap .nav_btns .header_nav li ul li {
  padding: 20px 0;
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li ul li {
    margin: 20px;
    padding: 0;
  }
}

header .wrap .menu_btn_Area {
  display: none;
}

@media screen and (max-width: 1100px) {
  header .wrap .menu_btn_Area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

header .wrap .menu_btn_Area .menu_btn {
  width: 50px;
  height: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrap .menu_btn_Area .menu_btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

header .wrap .menu_btn_Area .menu_btn .menu_btn_click {
  z-index: 9999;
}

header .wrap .menu_btn_Area .menu_btn .bar {
  width: 26px;
  height: 2px;
  background-color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .wrap .menu_btn_Area .menu_btn .bar:nth-child(1) {
  height: 3px;
}

header .wrap .menu_btn_Area .menu_btn .top_bar {
  position: absolute;
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .wrap .menu_btn_Area .menu_btn .top_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

header .wrap .menu_btn_Area .menu_btn .mid_bar {
  position: absolute;
  top: 24px;
  left: 12px;
  opacity: 1;
}

header .wrap .menu_btn_Area .menu_btn .mid_click {
  opacity: 0 !important;
}

header .wrap .menu_btn_Area .menu_btn .bot_bar {
  position: absolute;
  top: 31px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .wrap .menu_btn_Area .menu_btn .bot_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .wrap {
  width: 84%;
  background-color: #f6f6f5;
}

@media screen and (max-width: 1500px) {
  main .wrap {
    width: 86%;
  }
}

@media screen and (max-width: 1300px) {
  main .wrap {
    width: 88%;
  }
}

@media screen and (max-width: 1200px) {
  main .wrap {
    width: 92%;
  }
}

@media screen and (max-width: 768px) {
  main .wrap {
    width: 96%;
  }
}

@media screen and (max-width: 576px) {
  main .wrap {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  main .wrap {
    min-width: 320px;
  }
}

main .wrap .breadcrumb {
  width: 100%;
  height: 70px;
  background-color: #f6f6f5;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  main .wrap .breadcrumb {
    padding: 0 8%;
  }
}

main .wrap .breadcrumb a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  word-wrap: none;
}

@media screen and (max-width: 1180px) {
  main .wrap .breadcrumb a {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .breadcrumb a {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .breadcrumb a {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  main .wrap .breadcrumb a {
    font-size: 12px;
  }
}

main .wrap .breadcrumb a:hover {
  border-bottom: 2px solid black;
}

main .wrap .breadcrumb span {
  font-size: 30px;
  word-wrap: none;
}

@media screen and (max-width: 1180px) {
  main .wrap .breadcrumb span {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .breadcrumb span {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .breadcrumb span {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  main .wrap .breadcrumb span {
    font-size: 12px;
  }
}

main .wrap .product_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .wrap .product_info .product_img_wrap {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_img_wrap {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .wrap .product_info .product_img_wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 480px;
  height: 480px;
  margin-left: auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_img_wrap img {
    width: 400px;
    height: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_img_wrap img {
    width: 84%;
    height: 84%;
  }
}

main .wrap .product_info .product_selection {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection {
    width: 450px;
    padding: 0;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection {
    width: 100%;
    padding: 0 10%;
  }
}

main .wrap .product_info .product_selection .product_title {
  font-size: 30px;
  font-weight: bold;
  margin: 60px 0;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 26px;
    margin: 40px 0;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 22px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 16px;
  }
}

main .wrap .product_info .product_selection .product_price {
  width: 350px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_price {
    width: 100%;
    margin-bottom: 30px;
  }
}

main .wrap .product_info .product_selection .product_price span {
  font-size: 36px;
  margin-left: auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 24px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 12px;
  }
}

main .wrap .product_info .product_selection .product_thumbnail {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_thumbnail {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .wrap .product_info .product_selection .product_thumbnail img {
  width: 70px;
  height: 70px;
  margin-right: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_thumbnail img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_thumbnail img {
    width: 50px;
    height: 50px;
  }
}

main .wrap .product_info .product_selection .product_thumbnail img:hover {
  opacity: 0.8;
}

main .wrap .product_info .product_selection .product_quantity {
  width: 350px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_quantity {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_quantity {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main .wrap .product_info .product_selection .product_quantity .btn_group {
    display: flex;
    width: 160px;
}
main .wrap .product_info .product_selection .product_quantity .btn_group .show_quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
  font-size: 30px;
  color: #000000;
  width: 35px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  border: 2px solid #8e8e8e;
  border-radius: 0;
  background-color: #eeeeee;
  margin-left: -3px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
    font-size: 26px;
    width: 30px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
    font-size: 18px;
  }
}

main .wrap .product_info .product_selection .product_quantity .btn_group .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .btn:hover {
  background-color: #aaa7a7;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
  font-size: 30px;
  width: 85px;
  height: 60px;
  margin-left: -1px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  float: left;
  border: 1px solid #969696;
  border-radius: 0;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
    font-size: 26px;
    width: 65px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
    font-size: 18px;
  }
}

main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity:focus {
  outline: 0;
}

main .wrap .product_info .product_selection .addchart {
  width: 350px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .addchart {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .wrap .product_info .product_selection .addchart input {
  width: 100%;
  height: 65px;
  background-color: #b3b3b3;
  font-size: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .addchart input {
    width: 350px;
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .addchart input {
    width: 100%;
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .addchart input {
    width: 100%;
    font-size: 20px;
  }
}

main .wrap .product_info .product_selection .addchart input:hover {
  background-color: #763134;
}

main .wrap .product_info .product_selection .addchart input:focus {
  outline: 0;
  background-color: #763134;
}

main .wrap .product_info .product_selection .note {
  margin: 20px 0 0 -10px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .note {
    margin: 20px auto;
  }
}

main .wrap .product_introduction {
  width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction {
    width: 100%;
    padding: 0 10%;
  }
}

main .wrap .product_introduction .content_title {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_introduction .content_title {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction .content_title {
    font-size: 22px;
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_introduction .content_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  main .wrap .product_introduction .content_title {
    font-size: 16px;
  }
}

main .wrap .product_introduction .product_content {
  width: 450px;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 35px;
  margin: 50px auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_introduction .product_content {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction .product_content {
    width: 100%;
    padding: 0 10%;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_introduction .product_content {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_introduction .product_content {
    font-size: 12px;
  }
}

main .wrap .product_introduction .product_imgs {
  width: 100%;
}

@media screen and (max-width: 768) {
  main .wrap .product_introduction .product_imgs {
    padding: 0 10%;
  }
}

main .wrap .product_introduction .product_imgs img {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction .product_imgs img {
    width: 100%;
  }
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

footer .footer_area {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0 8%;
}

@media screen and (max-width: 1700px) {
  footer .footer_area {
    width: 95%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 1400px) {
  footer .footer_area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer_area .footer_info {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_info {
    width: 66%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  footer .footer_area .footer_info {
    width: 100%;
  }
}

footer .footer_area .footer_info .footer_bar {
  margin-left: 5px;
  margin-top: 50px;
  margin-bottom: auto;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_info .footer_bar {
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  footer .footer_area .footer_info .footer_bar {
    margin: 25px auto;
  }
}

footer .footer_area .footer_info .footer_bar ul {
  list-style: none;
  padding: 0;
}

footer .footer_area .footer_info .footer_bar ul li {
  padding: 10px 0px;
}

footer .footer_area .footer_info .footer_bar ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
}

@media screen and (max-width: 500px) {
  footer .footer_area .footer_info .footer_bar ul li a {
    font-size: 14px;
  }
}

footer .footer_area .footer_info .Contact_information {
  margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_info .Contact_information {
    margin: 0 auto;
  }
}

footer .footer_area .footer_info .Contact_information p {
  font-size: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
  letter-spacing: 3px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  footer .footer_area .footer_info .Contact_information p {
    font-size: 14px;
  }
}

footer .footer_area .footer_pic {
  width: 66.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_pic {
    width: 80%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

footer .footer_area .footer_pic img {
  width: 770px;
  margin-left: auto;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_pic img {
    width: 95%;
    margin: 0 auto;
  }
}

footer .copyright {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright .copyright_text {
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: auto;
}
/*# sourceMappingURL=04-product_detail.css.map */
